<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS">
        <activity android:name=".ViewMedi"></activity>
        <activity android:name=".TeachLoginActivity" />
        <activity android:name=".HighLoginActivity" />
        <activity android:name=".TeeacherRegActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CourseRegActivity" />
        <activity android:name=".MedissueActivity" />
        <activity android:name=".NotifActivity" />
        <activity android:name=".notifyhigher" />
        <activity android:name=".GradesActivity" />
        <activity android:name=".editattendance" />
        <activity android:name=".gradeschange" />
        <activity android:name=".uploadassign" />
        <activity android:name=".higherAuthDashboard" />
        <activity android:name=".AssignmentActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".studentsdetails" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".DashboardSTDActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>